@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Error via logging</h2>
        <form asp-page-handler="LogError" method="post">
            <button class="btn btn-default">ERROR</button>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Error via exception</h2>
        <form asp-page-handler="CreateException" method="post">
            <button class="btn btn-default">ERROR</button>
        </form>
    </div>
    <div class="col-md-3">
        <h2>Error log4net</h2>
        <form asp-page-handler="CreateException" method="post">
            <button class="btn btn-default">ERROR</button>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>
